In [14]:
import pandas as pd

In [15]:
home_data = {
    'area': [2600,3000,3200,3600,4000,4100],
    'bedrooms':[3,4,4,3,5,6],
    'age':[20,15,18,30,8,8],
    'price':[550000,565000,610000,595000,760000,810000]
}
df = pd.DataFrame(home_data)
df
df = df.to_csv('D:/Project/home_data.csv',index=False)

In [16]:
df=pd.read_csv('home_data.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
import math
df.bedrooms.median()

4.0

In [18]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [19]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [20]:
# با استفاده از کتابخانه sklearn از الگوریتم رگرسیون استفاده می کنیم

In [21]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
# ضرایب یا همون w1,w2,w3
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [23]:
# عرض از مبدا یا همون b
reg.intercept_

221323.00186540425

In [24]:
# پیش گویی کردن
reg.predict([[3000,3,25]])

array([546884.0202098])

In [25]:
reg.predict([[2500,4,4]])

array([582107.75539797])

In [26]:
# رگرسیون خطی چند متغیره