In [22]:
import pandas as pd

In [24]:
df = pd.read_excel('twon.xlsx')
df

        town  area   price
0     Shiraz  2600  550000
1     Shiraz  2601  550001
2     Shiraz  2602  550002
3     Shiraz  2603  550003
4   Aleshtar  2604  550004
5   Aleshtar  2605  550005
6   Aleshtar  2606  550006
7   Aleshtar  2607  550007
8     Tehran  2608  550008
9     Tehran  2609  550009
10    Tehran  2610  550010
11    Tehran  2611  550011

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [26]:
df1 = df
df1.town = le.fit_transform(df1.town)
df1

    town  area   price
0      1  2600  550000
1      1  2601  550001
2      1  2602  550002
3      1  2603  550003
4      0  2604  550004
5      0  2605  550005
6      0  2606  550006
7      0  2607  550007
8      2  2608  550008
9      2  2609  550009
10     2  2610  550010
11     2  2611  550011

In [27]:
X = df1[['town','area']].values

In [28]:
X

array([[   1, 2600],
       [   1, 2601],
       [   1, 2602],
       [   1, 2603],
       [   0, 2604],
       [   0, 2605],
       [   0, 2606],
       [   0, 2607],
       [   2, 2608],
       [   2, 2609],
       [   2, 2610],
       [   2, 2611]], dtype=int64)

In [29]:
y = df1.price
y

0     550000
1     550001
2     550002
3     550003
4     550004
5     550005
6     550006
7     550007
8     550008
9     550009
10    550010
11    550011
Name: price, dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer 

ct = ColumnTransformer([('town', OneHotEncoder(),[0])], remainder = 'passthrough') # The last arg ([0]) is the list of columns you want to transform in this step
X = ct.fit_transform(X)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [31]:
from sklearn.linear_model import LinearRegression
reg =LinearRegression()

In [32]:
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [33]:
reg.predict([[0,1,0,3400]])

array([550800.])

In [34]:
reg.predict([[0,0,1,2800]])

array([550200.])